.{
	padding:0;
	margin:0;
}

@font-face {
    font-family: "transat bold";
    src: url("../src/fonts/transat/transat_bold-webfont.ttf") format("truetype");
    
}

@font-face{
	font-family: "transat";
	src: url("../src/fonts/transat/transat_medium-webfont.ttf") format("truetype");
}

@font-face{
	font-family:"fontawesome";
	src: url("../src/fonts/fa/fa-brands-400.ttf") format("truetype");
}

body{
	font-family: "transat" ,Helvetica, Arial, sans-serif;
	margin: 0;
	line-height: 1.6;
}

nav{
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: fixed;
	background-color: #222222;
	padding: 25px;
	opacity:0.95;
	font-family: "transat bold";
	font-size: 25px;
	margin-right: 50px;
	flex-basis: 10%;
}

a{
	justify-content: flex-start;
	color: white;
	text-decoration: none;	
}

.socials{
	display: flex;
	align-items: center;
	flex-grow: 0.9;
	justify-content: right;
	padding-right: 25px;
	font-family: "fontawesome";
	font-size: 35px;
}

.socials a{
	padding-left:20px;
}

.button{
	margin:20px 40px;
}

.button:hover{
	color: #ffa7a7;
}

.currentPage{
	color:#ffa7a7;
	margin:20px 40px;
}


#banner{
	background-image:url('../img/japanStreet.jpg');
	background-size:cover;
	background-position:center;
	background-attachment: fixed;
	height:100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	font-family: "transat bold";
}

#banner h1{
	text-transform: uppercase;
	font-size:60px;
	line-height:0px;
	margin: 40px;
	color: #ff4e4e;
}

#project1{
	padding:20px;	
}