@media(max-width: 568px){
	.bar{
		visibility: hidden;
	}
	nav{
		visibility: hidden;
	}
	#banner h1{
		text-align: center;
		font-size:50px;
		border-bottom: 1px solid #ffffff;
	}
	#banner h2{
		font-size:20px;
	}
	.info{
		width:400px;
	}
	label{
		padding: 0 40px 0 0;
		text-align: right;
		cursor: pointer;
		cursor:pointer;
		border-bottom: 1px solid #EAEAEB;
	}
	.menu{
		display: none;
		text-align: center;
		width: 100%;
	}
	.menu a{
		display: block;
		border-bottom: 1px solid #EAEAEB;
	}
	#toggle:checked + .menu{
		display: block;
	}
}

@media(min-width: 569px){
	.mobilenav{
		display: none
	}
	.menu{
		display: none
	}
	.label{
		display:none;
	}
	#banner h1{
		font-size: 60px;
		border-bottom: 1px solid #ffffff;
	}
	#banner h2{
		font-size:25px;
	}
	.icon{
		text-align: right;
	}
}


@font-face {
    font-family: "transat bold";
    src: url("../src/fonts/transat/transat_bold-webfont.ttf") format("truetype");
    
}

@font-face{
	font-family: "transat";
	src: url("../src/fonts/transat/transat_medium-webfont.ttf") format("truetype");
}

@font-face{
	font-family:"fontawesome";
	src: url("../src/fonts/fa/fa-brands-400.ttf") format("truetype");
}



body{
	margin: 0;
	font-family:  "transat", Helvetica, Arial, sans-serif;
	line-height:1.6;
}

nav{
	text-transform: uppercase;
	display: inline;
	width: 100%;
	position: fixed;
	background-color: #222222;
	opacity:0.95;
	font-family: "transat bold";
	font-size: 25px;
	padding: 25px;
}

label{
	display: block;
	font-size:26px;
	line-height: 70px;
	position: : fixed;
	background-color: #0a0a0a;
	color:white;
}
#toggle{
	position:fixed;
	display: none;
} 
.mobilenav{
	position: fixed;
	width: 100%;
	padding:15px;
	font-size:30px;
	padding: 0 80px 0 0;
}

a{
	padding: 10px 10px;
	justify-content: flex-start;
	color: white;
	text-decoration: none;	
}

.menu{
	background-color: #0a0a0a;
}

.socials{
	line-height: 1.0;
	float:right;
	font-family: "fontawesome";
	font-size: 35px;
	margin-right: 40px;
	margin-top: 0px;
	padding-top: 0px;
}

.socials a:hover{
	color: #ffa7a7;
	line-height: -1px;
}

.button{
	margin:20px 40px;
}

.button:hover{
	color: #ffa7a7;
}

.currentPage{
	color:#ffa7a7;
	margin:20px 40px;
}

#banner{
	background-image:url('../img/japanStairs.jpg');
	background-size:cover;
	background-position: center 0px;
	height:100vh;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	color: white;
	font-style: bold;
	margin-bottom: 80px;
}

#banner h1{
	margin:0px;
	padding: 0px;
	letter-spacing: 1px;
	font-family: "transat bold";
	line-height: 60px;
	text-shadow: 2px 2px black;
}

#banner h2{
	margin:0;
	text-shadow: 1px 1px black;
}

#banner h3{
	margin: 0;
	padding:0;
	font-size: 18px;
}

.container{
	padding: 0px;
	margin:0px;
	display:flex;
	justify-content: center;
	flex-basis: 30%;
	font-family: "transat";
	flex-wrap: wrap;

}

.title{
	margin-top: 80px
}

.description h2{
	padding-bottom: 0px;
	margin: 0px;
}

#green{
	color:#90ee90;
	display: inline-block;
}

.icon img{
	border-radius: 50%;

}

.icon {
	order: 1;
	flex-basis: 15%;
	padding-right: 50px;
}


.info {
	order: 2;
	width:500px;
	margin-bottom: 
}

p{
	padding: 0px;
	margin: 0px;
}

.title{
	font-size: 24px;
	text-align: center;	
}

.title h1{
	margin:0px;
	padding: 0px;
}

.wrapper{
	display: flex;
	flex-basis: 900px;
	flex-direction: column;
	background-color: #e0e0e0;
	padding-bottom: 80px;
	margin-top: 100px;
}

.skills-row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.skills-row img{
	margin: 10px;
}

#red{
	color: #ffa7a7;
}

footer{
	background-color: #0a0a0a;
	text-align: center;
	color: white;
	padding:20px;
	margin-top:50px;
}